@{
    ViewData["Title"] = "Home Page";

    ViewData["Des"] = "Shop game gì đó";
    ViewData["Author"] = "Tên chủ shop";
    ViewData["Keyword"] = "Mua đi chờ chi";
    Layout = "/Views/Shared/_layoutTemplate.cshtml";
    ViewData["CSSLink"] = "/css/style.css";
}


<div class="content" >
    <h1 class="anim">Chơi <br>Game ngay</h1>
    <p class="anim">
        Nền tảng cung cấp các loại game hot, dịch vụ tốt nhất
    </p>
    <a href="/Product/Index" class="btn anim">Mua ngay</a>
</div>
<!-- hero image -->
<img class="anim feature-img" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/6174cd1a-f614-4c1e-9d75-4997060b6156/ddrsqbl-eb74072b-24d1-4fcf-8981-8526538e676b.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzYxNzRjZDFhLWY2MTQtNGMxZS05ZDc1LTQ5OTcwNjBiNjE1NlwvZGRyc3FibC1lYjc0MDcyYi0yNGQxLTRmY2YtODk4MS04NTI2NTM4ZTY3NmIucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.XE0tgzITQOCQo38R05ZFj_RGaVYSEmx5hXh2_l4BJmY">
<img class="knives anim" style="top:240px; width: 200px;  right: 8%;" src="https://vgraphs.com/images/players/sprays/valorant-collectible-watch-this-spray.png" />

<img class="knives anim" style="top:140px; width: 300px;  right: 18%;" src="https://vgraphs.com/images/players/sprays/valorant-collectible-watch-this-spray.png" />
<img class="knives anim" style="top:240px; width: 200px;  right: 30%; " src="https://vgraphs.com/images/players/sprays/valorant-collectible-watch-this-spray.png" />
<!-- end hero image -->



    

